html {
  overflow: scroll;
  overflow-x: hidden;
}
body {
  background-color: #c3c5c4;
  
}
.logo_text {
  font-family: 'Raleway', sans-serif;
  font-size: 62px;
  text-transform: uppercase;
  color: #1f1b20;
  letter-spacing: 0.2em;
  font-weight: 900;
}
.logo_title {
  font-family: 'Raleway', sans-serif;
  color: #587b81;
  font-size: 40px;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-transform: uppercase;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c3c5c4;
    padding: 20px;
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul li {
    margin: 0 10px;
  }
  
  .navbar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      max-width: 768px;
    }
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar ul {
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  }
  @media screen and (max-width: 1024px) {
    .satellite {
      top: 10px !important;
    }
  }
    @media screen and (max-width: 390px) {
      body {
        width: 360px;
        
      }
      .logo {
        width: 360px;
        margin: 50px 30px 0 10px !important;
      }
      .logo_text {
        font-size: 30px;
      }
      .logo_title {
        font-size: 19px;
      }
      .satellite-image {
        width: 100px;
        position: absolute;
        right: 800px;
        top: 110px;
      }
      .crow-image {
        width: 120px;
      }
      .city-image {
        display: none;
      }
  }
  		/* Стили для модального окна */
		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
    .header_button:hover, .header_button:focus {
      cursor: pointer;
    }
    .logo {
      margin: 100px 0 0 55px;
    }
    .satellite {
      position: absolute;
      left: 1100px;
      bottom: 460px;
    }
    .satellite-image {
      height: 190px;
    }
    .crow {
      margin-top: 50px ;
    }
    .crow-image {
      height: 250px;
    }
    .city {
      position: absolute;
      left: 520px;
      top: 200px;
    }
    .city-image {
      height: 455px;
        }
.modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: #E63521;
  color: white;
  border: none;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  margin: 10px 25px 0 30px;
  font-weight: bold;
}
.btn:hover, .btn:active {
  cursor: pointer;
}
